<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>todoList</title>
	<script type="text/javascript" src="./vue_src.js"></script>
</head>
<body>
	<div id="root">
		<input v-model="inputValue">
		<button @click="handleClick">提交</button>
		<ul>
			<!-- 使用:key可以优化list的效率。但是注意key的值不能重复，所以这里用了index -->
			<li v-for="(item,index) of itemList" :key="index">{{item}}</li>
		</ul>
	</div>

	<script type="text/javascript">
		new Vue({
				el : "#root",
			data : {
				"inputValue" : '',
				"itemList" : []
			},
			methods : {
				"handleClick" : function(){
					this.itemList.push(this.inputValue);
					this.inputValue = '';
				}
			}
		});
	</script>
</body>
</html>